toop-edm/src/main/resources/schemas/cpsv-ap_xml_schema_v0.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Library:           ISA CPSV-AP v2.0 1.00
                     https://data.europa.eu/m8g/
  Generated on:      2016-11-30
-->
<xs:schema xmlns="http://data.europa.eu/m8g/CPSVAP2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ccts="urn:un:unece:uncefact:documentation:2" targetNamespace="http://data.europa.eu/m8g/CPSVAP2.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.00">
	<!-- ===== Basic Element Declarations ===== -->
	<xs:element name="AddressArea" type="xs:string"/>
	<xs:element name="AddressAdminUnitL1" type="xs:string"/>
	<xs:element name="AddressAdminUnitL2" type="xs:string"/>
	<xs:element name="AddressFullAddress" type="xs:string"/>
	<xs:element name="AddressID" type="xs:anyURI"/>
	<xs:element name="AddressLocatorDesignator" type="xs:string"/>
	<xs:element name="AddressLocatorName" type="xs:string"/>
	<xs:element name="AddressPoBox" type="xs:string"/>
	<xs:element name="AddressPostCode" type="xs:string"/>
	<xs:element name="AddressPostName" type="xs:string"/>
	<xs:element name="AddressThoroughfare" type="xs:string"/>
	<xs:element name="AgentID" type="xs:anyURI"/>
	<xs:element name="AgentName" type="xs:string"/>
	<xs:element name="AgentType" type="xs:string"/>
	<xs:element name="ChannelID" type="xs:anyURI"/>
	<xs:element name="ChannelOpeningHours" type="xs:string"/>
	<xs:element name="ChannelType" type="xs:string"/>
	<xs:element name="ContactPointHasEmail" type="xs:string"/>
	<xs:element name="ContactPointHasTelephone" type="xs:string"/>
	<xs:element name="ContactPointID" type="xs:anyURI"/>
	<xs:element name="CostCurrency" type="xs:string"/>
	<xs:element name="CostDescription" type="xs:string"/>
	<xs:element name="CostID" type="xs:anyURI"/>
	<xs:element name="CostValue" type="xs:double"/>
	<xs:element name="CriterionRequirementID" type="xs:anyURI"/>
	<xs:element name="CriterionRequirementName" type="xs:string"/>
	<xs:element name="CriterionRequirementType" type="xs:string"/>
	<xs:element name="EventDescription" type="xs:string"/>
	<xs:element name="EventID" type="xs:anyURI"/>
	<xs:element name="EventName" type="xs:string"/>
	<xs:element name="EventType" type="xs:string"/>
	<xs:element name="EvidenceDescription" type="xs:string"/>
	<xs:element name="EvidenceID" type="xs:anyURI"/>
	<xs:element name="EvidenceLanguage" type="xs:string"/>
	<xs:element name="EvidenceName" type="xs:string"/>
	<xs:element name="EvidenceRelatedDocumentation" type="xs:string"/>
	<xs:element name="EvidenceType" type="xs:string"/>
	<xs:element name="FormalFrameworkDescription" type="xs:string"/>
	<xs:element name="FormalFrameworkID" type="xs:anyURI"/>
	<xs:element name="FormalFrameworkLanguage" type="xs:string"/>
	<xs:element name="FormalFrameworkName" type="xs:string"/>
	<xs:element name="FormalFrameworkStatus" type="xs:string"/>
	<xs:element name="FormalFrameworkSubject" type="xs:string"/>
	<xs:element name="FormalFrameworkTerritorialApplication" type="xs:string"/>
	<xs:element name="FormalFrameworkElementType" type="xs:string"/>
	<xs:element name="OpeningHoursCloses" type="xs:string"/>
	<xs:element name="OpeningHoursDayOfWeek" type="xs:string"/>
	<xs:element name="OpeningHoursOpens" type="xs:string"/>
	<xs:element name="OpeningHoursValidFrom" type="xs:string"/>
	<xs:element name="OpeningHoursValidThrough" type="xs:string"/>
	<xs:element name="OutputDescription" type="xs:string"/>
	<xs:element name="OutputID" type="xs:anyURI"/>
	<xs:element name="OutputName" type="xs:string"/>
	<xs:element name="OutputType" type="xs:string"/>
	<xs:element name="ParticipationDescription" type="xs:string"/>
	<xs:element name="ParticipationID" type="xs:anyURI"/>
	<xs:element name="ParticipationRole" type="xs:string"/>
	<xs:element name="PublicOrganisationID" type="xs:anyURI"/>
	<xs:element name="PublicOrganisationPreferredLabel" type="xs:string"/>
	<xs:element name="PublicOrganisationSpatial" type="xs:string"/>
	<xs:element name="PublicServiceDescription" type="xs:string"/>
	<xs:element name="PublicServiceID" type="xs:anyURI"/>
	<xs:element name="PublicServiceKeyword" type="xs:string"/>
	<xs:element name="PublicServiceLanguage" type="xs:string"/>
	<xs:element name="PublicServiceName" type="xs:string"/>
	<xs:element name="PublicServiceProcessingTime" type="xs:string"/>
	<xs:element name="PublicServiceSector" type="xs:string"/>
	<xs:element name="PublicServiceSpatial" type="xs:string"/>
	<xs:element name="PublicServiceStatus" type="xs:string"/>
	<xs:element name="PublicServiceType" type="xs:string"/>
	<xs:element name="RuleDescription" type="xs:string"/>
	<xs:element name="RuleID" type="xs:anyURI"/>
	<xs:element name="RuleLanguage" type="xs:string"/>
	<xs:element name="RuleName" type="xs:string"/>
	<!-- ===== Complex Element Declarations ===== -->
	<xs:element name="PublicService" type="PublicServiceType"/>
	<xs:element name="PublicServiceIsGroupedBy" type="EventType"/>
	<xs:element name="PublicServiceRequires" type="PublicServiceType"/>
	<xs:element name="PublicServiceRelated" type="PublicServiceType"/>
	<xs:element name="PublicServiceHasCriterion" type="CriterionRequirementType"/>
	<xs:element name="PublicServiceHasCompetentAuthority" type="PublicOrganisationType"/>
	<xs:element name="PublicServiceServiceProvider" type="AgentType"/>
	<xs:element name="PublicServiceHasParticipation" type="ParticipationType"/>
	<xs:element name="PublicServiceHasInput" type="EvidenceType"/>
	<xs:element name="PublicServiceHasFormalFramework" type="FormalFrameworkType"/>
	<xs:element name="PublicServiceProduces" type="OutputType"/>
	<xs:element name="PublicServiceFollows" type="RuleType"/>
	<xs:element name="PublicServiceHasContactPoint" type="ContactPointType"/>
	<xs:element name="PublicServiceHasChannel" type="ChannelType"/>
	<xs:element name="PublicServiceHasCost" type="CostType"/>
	<xs:element name="Event" type="EventType"/>
	<xs:element name="EventRelatedService" type="PublicServiceType"/>
	<xs:element name="BusinessEvent" type="EventType"/>
	<xs:element name="LifeEvent" type="EventType"/>
	<xs:element name="Participation" type="ParticipationType"/>
	<xs:element name="CriterionRequirement" type="CriterionRequirementType"/>
	<xs:element name="Evidence" type="EvidenceType"/>
	<xs:element name="Output" type="OutputType"/>
	<xs:element name="Cost" type="CostType"/>
	<xs:element name="CostIsDefinedBy" type="PublicOrganisationType"/>
	<xs:element name="CostIfAccessedThrough" type="ChannelType"/>
	<xs:element name="Channel" type="ChannelType"/>
	<xs:element name="ChannelOwnedBy" type="PublicOrganisationType"/>
	<xs:element name="ChannelHasInput" type="EvidenceType"/>
	<xs:element name="ChannelAvailabilityRestriction" type="OpeningHoursSpecificationType"/>
	<xs:element name="Rule" type="RuleType"/>
	<xs:element name="RuleImplements" type="FormalFrameworkType"/>
	<xs:element name="FormalFramework" type="FormalFrameworkType"/>
	<xs:element name="FormalFrameworkRelated" type="FormalFrameworkType"/>
	<xs:element name="Agent" type="AgentType"/>
	<xs:element name="AgentPlaysRole" type="ParticipationType"/>
	<xs:element name="AgentHasAddress" type="AddressType"/>
	<xs:element name="PublicOrganisation" type="PublicOrganisationType"/>
	<xs:element name="ContactPoint" type="ContactPointType"/>
	<xs:element name="ContactPointHoursAvailable" type="OpeningHoursSpecificationType"/>
	<xs:element name="OpeningHoursSpecification" type="OpeningHoursSpecificationType"/>
	<!-- ===== Type Definitions ===== -->
	<xs:complexType name="PublicServiceType">
		<xs:annotation>
			<xs:documentation>
				<ccts:Component>
					<ccts:Definition>Mandatory class. This class represents the Public Service itself. A Public Service is a mandatory or discretionary set of acts performed, or able to be performed, by or on behalf of a public organisation. Services may be for the benefit of an individual, a business, or other public authority, or groups of any of these. The capacity to act exists whether it is used or not, and the term 'benefit' may apply in the sense of enabling the fulfilment of an obligation. As defined in the revised version of the European Interoperability Framework , a European public service comprises any service provided by public administrations in Europe, or by other organisations on their behalf, to businesses, citizens or others public administrations.</ccts:Definition>
					<ccts:ObjectClass>PublicService</ccts:ObjectClass>
				</ccts:Component>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="PublicServiceID" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>identifier</ccts:PropertyTerm>
							<ccts:Definition>This property represents a formally-issued Identifier for the Public Service</ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>PublicService</ccts:ObjectClass>
							<ccts:DataType>URI</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PublicServiceName" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>name</ccts:PropertyTerm>
							<ccts:Definition>This property represents the official Name of the Public Service.</ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>PublicService</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PublicServiceDescription" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>description</ccts:PropertyTerm>
							<ccts:Definition>This property represents a free text Description of the Public Service. The description is likely to be the text that potential users of the Public Service see in any public service catalogue. Public administrations are encouraged to include a reasonable level of detail in the description, for instance including basic eligibility requirements for the particular Public Service and contact information.</ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>PublicService</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PublicServiceKeyword" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>keyword</ccts:PropertyTerm>
							<ccts:Definition>This property represents a keyword, term or phrase to describe the Public Service.</ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>PublicService</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PublicServiceSector" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>sector</ccts:PropertyTerm>
							<ccts:Definition>This property represents the industry or sector a Public Service relates to, or is intended for.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>PublicService</ccts:ObjectClass>
							<ccts:DataType>Code</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PublicServiceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>type</ccts:PropertyTerm>
							<ccts:Definition>This property represents the type of a Public Service as described in a controlled vocabulary.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>PublicService</ccts:ObjectClass>
							<ccts:DataType>Code</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PublicServiceLanguage" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>language</ccts:PropertyTerm>
							<ccts:Definition>This property represents the language(s) in which the Public Service is available.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>PublicService</ccts:ObjectClass>
							<ccts:DataType>Code</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PublicServiceStatus" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>status</ccts:PropertyTerm>
							<ccts:Definition>Indicates whether a Public Service is active, inactive, under development etc. according to a controlled vocabulary.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>PublicService</ccts:ObjectClass>
							<ccts:DataType>Code</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PublicServiceIsGroupedBy" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>isGroupedBy</ccts:PropertyTerm>
							<ccts:Definition>This property links the Public Service to the Event class.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>PublicService</ccts:ObjectClass>
							<ccts:DataType>Event</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PublicServiceRequires" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>requires</ccts:PropertyTerm>
							<ccts:Definition>One Public Service may require, or in some way make use of, the output of one or several other Public Services.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>PublicService</ccts:ObjectClass>
							<ccts:DataType>PublicService</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PublicServiceRelated" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>related</ccts:PropertyTerm>
							<ccts:Definition>This property represents a Public Service related to the particular instance of the Public Service class.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>PublicService</ccts:ObjectClass>
							<ccts:DataType>PublicService</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PublicServiceHasCriterion" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>hasCriterion</ccts:PropertyTerm>
							<ccts:Definition>Links a Public Service to a class that describes the criteria for needing or using the service, such as residency in a given location, being over a certain age etc. The Criterion class is defined in the Core Criterion and Core Evidence Vocabulary.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>PublicService</ccts:ObjectClass>
							<ccts:DataType>CriterionRequirement</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PublicServiceHasCompetentAuthority" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>hasCompetentAuthority</ccts:PropertyTerm>
							<ccts:Definition>This property links a Public Service to a Public Organisation, which is the responsible Agent for the delivery of the Public Service. Whether the particular Public Organisation provides the public service directly or outsources it is not relevant. The Public Organisation that is the Competent Authority of the service is the one that is ultimately responsible for managing and providing the public service.</ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>PublicService</ccts:ObjectClass>
							<ccts:DataType>PublicOrganisation</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PublicServiceServiceProvider" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>serviceProvider</ccts:PropertyTerm>
							<ccts:Definition>This property links a Public Service to an Agent who provides it. This is distinct from the role of Competent Authority and may be an external contractor.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>PublicService</ccts:ObjectClass>
							<ccts:DataType>Agent</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PublicServiceHasParticipation" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>hasParticipation</ccts:PropertyTerm>
							<ccts:Definition>The CPSV-AP defines the two basic roles of Competent Authority and Service Provider, but this simple model can be extended if required using the Has Participation property that links to the Participation class .</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>PublicService</ccts:ObjectClass>
							<ccts:DataType>Participation</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PublicServiceHasInput" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>hasInput</ccts:PropertyTerm>
							<ccts:Definition>The Has Input property links a Public Service to one or more instances of the Evidence class. A specific Public Service may require the presence of certain pieces of Evidence in order to be delivered. If the evidence required to make use of a service varies according to the channel through which it is accessed, then Has Input should be at the level of the Channel .</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>PublicService</ccts:ObjectClass>
							<ccts:DataType>Evidence</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PublicServiceHasFormalFramework" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>hasFormalFramework</ccts:PropertyTerm>
							<ccts:Definition>The Has Formal Framework property links a Public Service to a Formal Framework. It indicates the Formal Framework (e.g. legislation) to which the Public Service relates, operates or has its legal basis.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>PublicService</ccts:ObjectClass>
							<ccts:DataType>FormalFramework</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PublicServiceProduces" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>produces</ccts:PropertyTerm>
							<ccts:Definition>The Produces property links a Public Service to one or more instances of the Output class, describing the actual result of executing a given Public Service. Outputs can be any resource, for instance a document, artefact or anything else being produced as a result of executing the Public Service.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>PublicService</ccts:ObjectClass>
							<ccts:DataType>Output</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PublicServiceFollows" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>follows</ccts:PropertyTerm>
							<ccts:Definition>The follows property links a Public Service to the Rule(s) under which it operates. The definition of the Rule class is very broad. In a typical case, the competent authority that provides the public service will also define the rules that will implement its own policies. The CPSV-AP is flexible to allow for significant variation in such a scenario.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>PublicService</ccts:ObjectClass>
							<ccts:DataType>Rule</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PublicServiceSpatial" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>spatial</ccts:PropertyTerm>
							<ccts:Definition>A Public Service is likely to be available only within a given area, typically the area covered by a particular public authority.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>PublicService</ccts:ObjectClass>
							<ccts:DataType>Code</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PublicServiceHasContactPoint" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>hasContactPoint</ccts:PropertyTerm>
							<ccts:Definition>A contact point for the service is almost always helpful. The value of this property, the contact information itself, should be provided using schema:ContactPoint. Note that the contact information should be relevant to the Public Service which may not be the same as contact information for the Competent Authority or any Participant.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>PublicService</ccts:ObjectClass>
							<ccts:DataType>ContactPoint</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PublicServiceHasChannel" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>hasChannel</ccts:PropertyTerm>
							<ccts:Definition>This property links the Public Service to any Channel through which an Agent provides, uses or otherwise interacts with the Public Service, such as an online service, phone number or office.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>PublicService</ccts:ObjectClass>
							<ccts:DataType>Channel</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PublicServiceProcessingTime" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>processingTime</ccts:PropertyTerm>
							<ccts:Definition>The value of this property is the (estimated) time needed for executing a Public Service. The actual information is provided using the ISO8601 syntax for durations</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>PublicService</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PublicServiceHasCost" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>hasCost</ccts:PropertyTerm>
							<ccts:Definition>The Has Cost property links a Public Service to one or more instances of the Cost class. It indicates the costs related to the execution of a Public Service for the citizen or business related to the execution of the particular Public Service. Where the cost varies depending on the channel through which the service is accessed, it can be linked to the channel using the If Accessed Through relationship.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>PublicService</ccts:ObjectClass>
							<ccts:DataType>Cost</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EventType">
		<xs:annotation>
			<xs:documentation>
				<ccts:Component>
					<ccts:Definition>Optional class. This class represents an event that can be of any type that triggers, makes use of, or in some way is related to, a Public Service.  It is not expected to be used directly, rather, one or other of its subclasses should be used. The properties of the class are, of course, inherited by those subclasses.</ccts:Definition>
					<ccts:ObjectClass>Event</ccts:ObjectClass>
				</ccts:Component>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="EventID" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>identifier</ccts:PropertyTerm>
							<ccts:Definition>This property represents an Identifier for the Event.</ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>Event</ccts:ObjectClass>
							<ccts:DataType>URI</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="EventName" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>name</ccts:PropertyTerm>
							<ccts:Definition>This property represents the Name (or title) of the Event.</ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>Event</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="EventDescription" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>description</ccts:PropertyTerm>
							<ccts:Definition>This property represents a free text description of the Event. The description is likely to be the text that a business or citizen sees for that specific Event when looking for relevant Public Services. Public administrations are therefore encouraged to include a reasonable level of detail in the description.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Event</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="EventType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>type</ccts:PropertyTerm>
							<ccts:Definition>The type property links an Event to a controlled vocabulary of event types and it is the nature of those controlled vocabularies that is the major difference between a business event, such as creating the business in the first place and a life event, such as the birth of a child.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Event</ccts:ObjectClass>
							<ccts:DataType>Code</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="EventRelatedService" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>relatedService</ccts:PropertyTerm>
							<ccts:Definition>This property links an event directly to a public service that is related to it.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Event</ccts:ObjectClass>
							<ccts:DataType>PublicService</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CriterionRequirementType">
		<xs:annotation>
			<xs:documentation>
				<ccts:Component>
					<ccts:Definition>Optional class. Not all public services are needed or usable by everyone. For example, the visa service operated by European countries is not needed by European citizens but is needed by some citizens from elsewhere, or public services offering unemployment benefits and grants are targeting specific societal groups. The CPSV reuses the Core Criterion and Core Evidence Vocabulary  for this class. The CCCEV provides more details but the CriterionRequirement class has three mandatory properties</ccts:Definition>
					<ccts:ObjectClass>CriterionRequirement</ccts:ObjectClass>
				</ccts:Component>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="CriterionRequirementID" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>identifier</ccts:PropertyTerm>
							<ccts:Definition>This property represents an Identifier for the CriterionRequirement.</ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>CriterionRequirement</ccts:ObjectClass>
							<ccts:DataType>URI</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="CriterionRequirementName" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>name</ccts:PropertyTerm>
							<ccts:Definition>This property represents the official Name of the CriterionRequirement.</ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>CriterionRequirement</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="CriterionRequirementType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>type</ccts:PropertyTerm>
							<ccts:Definition>This property represents the type of CriterionRequirement as described in a controlled vocabulary.</ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>CriterionRequirement</ccts:ObjectClass>
							<ccts:DataType>Code</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublicOrganisationType">
		<xs:annotation>
			<xs:documentation>
				<ccts:Component>
					<ccts:Definition>Mandatory class. The CPSV-AP reuses the Core Public Organisation Vocabulary  that defines the concept of a Public Organisation and associated properties and relationships. It is largely based on the W3C Organization Ontology</ccts:Definition>
					<ccts:ObjectClass>PublicOrganisation</ccts:ObjectClass>
				</ccts:Component>
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AgentType">
				<xs:sequence>
					<xs:element ref="PublicOrganisationPreferredLabel" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								<ccts:Component>
									<ccts:PropertyTerm>preferredLabel</ccts:PropertyTerm>
									<ccts:Definition>Alternative label of a Public Organisation.</ccts:Definition>
									<ccts:Cardinality>1..1</ccts:Cardinality>
									<ccts:ObjectClass>PublicOrganisation</ccts:ObjectClass>
									<ccts:DataType>Text</ccts:DataType>
								</ccts:Component>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="PublicOrganisationSpatial" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								<ccts:Component>
									<ccts:PropertyTerm>spatial</ccts:PropertyTerm>
									<ccts:Definition>Spatial of a Public Organisation, usually defined by a controlled vocabulary.</ccts:Definition>
									<ccts:Cardinality>1..1</ccts:Cardinality>
									<ccts:ObjectClass>PublicOrganisation</ccts:ObjectClass>
									<ccts:DataType>Text</ccts:DataType>
								</ccts:Component>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AgentType">
		<xs:annotation>
			<xs:documentation>
				<ccts:Component>
					<ccts:Definition>The Agent class is any resource that acts or has the power to act. This includes people, organisations and groups. The Public Organisation class, defined in the Core Public Organisation Vocabulary, is a notable sub class of Agent</ccts:Definition>
					<ccts:ObjectClass>Agent</ccts:ObjectClass>
				</ccts:Component>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="AgentID" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>identifier</ccts:PropertyTerm>
							<ccts:Definition>This property represents an Identifier for the Agent.</ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>Agent</ccts:ObjectClass>
							<ccts:DataType>URI</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AgentName" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>name</ccts:PropertyTerm>
							<ccts:Definition>This property represents the Name of the Agent.</ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>Agent</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AgentType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>type</ccts:PropertyTerm>
							<ccts:Definition>This property represents the Type of an Agent as described in a controlled vocabulary. In the context of CPSV-AP an Agent can be a Public Organisation or a Person.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Agent</ccts:ObjectClass>
							<ccts:DataType>Code</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AgentPlaysRole" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>playsRole</ccts:PropertyTerm>
							<ccts:Definition>This property links an Agent to the Participation class. The Participation class facilitates the detailed description of how an Agent participates in or interacts with a Public Service and may include temporal and spatial constraints on that participation.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Agent</ccts:ObjectClass>
							<ccts:DataType>Participation</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AgentHasAddress" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>hasAddress</ccts:PropertyTerm>
							<ccts:Definition>This property represents an Address related to an Agent. Asserting the address relationship implies that the Agent has an Address.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Agent</ccts:ObjectClass>
							<ccts:DataType>Address</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParticipationType">
		<xs:annotation>
			<xs:documentation>
				<ccts:Component>
					<ccts:Definition>The CPSV-AP recognises two common roles connected with public services: the Competent Authority and the Service Provider. However, this simple structure does not allow statements to be made about those participants, such the start and end date of a contract, nor does it support the inclusion of other roles. The Participation class supports this extra complexity if required. The model is consistent with the CPOV which in turn is based on the W3C Organization Ontology that supports the common cases simply but allows the complex cases where necessary. The Participation class can be mapped to the Organization Ontology’s Membership class that allows more complex relationships and richer metadata to be applied to a role filled by a given Agent.</ccts:Definition>
					<ccts:ObjectClass>Participation</ccts:ObjectClass>
				</ccts:Component>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ParticipationID" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>identifier</ccts:PropertyTerm>
							<ccts:Definition>This property represents an Identifier for the Participation.</ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>Participation</ccts:ObjectClass>
							<ccts:DataType>URI</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ParticipationDescription" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>description</ccts:PropertyTerm>
							<ccts:Definition>A free text description of the Participation.</ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>Participation</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ParticipationRole" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>role</ccts:PropertyTerm>
							<ccts:Definition>Provides the role played. This should be provided using a controlled vocabulary. Since this is an extension mechanism for the CSPV-AP, the controlled vocabulary should be decided to suit local implementations.</ccts:Definition>
							<ccts:Cardinality>1..n</ccts:Cardinality>
							<ccts:ObjectClass>Participation</ccts:ObjectClass>
							<ccts:DataType>Code</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EvidenceType">
		<xs:annotation>
			<xs:documentation>
				<ccts:Component>
					<ccts:Definition>The Evidence class is defined in the Core Criterion and Core Evidence vocabulary (CCCEV) as any resource that can document or support a criterion response. It contains information that proves that a criterion requirement exists or is true, in particular evidences are used to prove that a specific criterion is met</ccts:Definition>
					<ccts:ObjectClass>Evidence</ccts:ObjectClass>
				</ccts:Component>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="EvidenceID" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>identifier</ccts:PropertyTerm>
							<ccts:Definition>This property represents an Identifier for the piece of Evidence.</ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>Evidence</ccts:ObjectClass>
							<ccts:DataType>URI</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="EvidenceName" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>name</ccts:PropertyTerm>
							<ccts:Definition>This property represents the official Name of the piece of Evidence.</ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>Evidence</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="EvidenceDescription" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>description</ccts:PropertyTerm>
							<ccts:Definition>This property represents a free text Description of the piece of Evidence.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Evidence</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="EvidenceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>type</ccts:PropertyTerm>
							<ccts:Definition>This property represents the type of Evidence as described in a controlled vocabulary.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Evidence</ccts:ObjectClass>
							<ccts:DataType>Code</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="EvidenceRelatedDocumentation" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>relatedDocumentation</ccts:PropertyTerm>
							<ccts:Definition>This property represents documentation that contains information related to the Evidence, for instance a particular template for an administrative document, an application or a guide on formatting the Input.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Evidence</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="EvidenceLanguage" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>language</ccts:PropertyTerm>
							<ccts:Definition>Indicates the language(s) in which the Evidence must be provided.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Evidence</ccts:ObjectClass>
							<ccts:DataType>Code</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FormalFrameworkType">
		<xs:annotation>
			<xs:documentation>
				<ccts:Component>
					<ccts:Definition>This class represents the legislation, policy or policies that lie behind the Rules that govern the service. The definition and properties of the Formal Framework class in the CPSV-AP are aligned with the ontology included in “Council conclusions inviting the introduction of the European Legislation Identifier (ELI)”.</ccts:Definition>
					<ccts:ObjectClass>FormalFramework</ccts:ObjectClass>
				</ccts:Component>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="FormalFrameworkID" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>identifier</ccts:PropertyTerm>
							<ccts:Definition>This property represents a formally-issued Identifier for the Formal Framework. Similarly, as in ELI, this can be a Local Identifier, which is the unique identifier used in a local reference system. Also this can be a URI following the URI-path as defined in ELI.</ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>FormalFramework</ccts:ObjectClass>
							<ccts:DataType>URI</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="FormalFrameworkName" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>name</ccts:PropertyTerm>
							<ccts:Definition>This property represents the Name of the Formal Framework</ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>FormalFramework</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="FormalFrameworkDescription" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>description</ccts:PropertyTerm>
							<ccts:Definition>This property represents a free text Description of the Formal Framework.</ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>FormalFramework</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="FormalFrameworkLanguage" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>languega</ccts:PropertyTerm>
							<ccts:Definition>This property represents the Language(s) in which the Formal Framework is available. The possible values for this property are described in a controlled vocabulary.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>FormalFramework</ccts:ObjectClass>
							<ccts:DataType>Code</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="FormalFrameworkStatus" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>status</ccts:PropertyTerm>
							<ccts:Definition>This property represents the Status of the Formal Framework, for instance in force, not in force, partially applicable, implicitly revoked, explicitly revoked, repealed, expired, suspended, … The possible values for this property are described in a controlled vocabulary.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>FormalFramework</ccts:ObjectClass>
							<ccts:DataType>Code</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="FormalFrameworkSubject" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>subject</ccts:PropertyTerm>
							<ccts:Definition>This property represents the Subject of this Formal Framework. The possible values for this property are described in a controlled vocabulary.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>FormalFramework</ccts:ObjectClass>
							<ccts:DataType>Code</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="FormalFrameworkTerritorialApplication" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>territorialApplication</ccts:PropertyTerm>
							<ccts:Definition>This property represents the geographical scope of where the Formal Framework is applicable, for instance EU, country/Member State, region… The values of this property come from a controlled vocabulary, for instance ATU NAL.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>FormalFramework</ccts:ObjectClass>
							<ccts:DataType>Code</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="FormalFrameworkElementType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>type</ccts:PropertyTerm>
							<ccts:Definition>This property represents the Type of a Formal Framework as described in a controlled vocabulary (e.g. directive, law, draft proposition, Parliamentary act, ministerial decision etc.). The possible values for this property are described in a controlled vocabulary.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>FormalFramework</ccts:ObjectClass>
							<ccts:DataType>Code</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="FormalFrameworkRelated" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>related</ccts:PropertyTerm>
							<ccts:Definition>This property represents another instance of the Formal Framework class that is related to the particular Formal Framework being described.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>FormalFramework</ccts:ObjectClass>
							<ccts:DataType>FormalFramework</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OutputType">
		<xs:annotation>
			<xs:documentation>
				<ccts:Component>
					<ccts:Definition>Outputs can be any resource - document, artefact – anything produced by the Public Service. In the context of a Public Service, the output provides an official document or other artefact of the Competent Authority (Public Organisation) that permits/authorises/entitles an Agent to (do) something</ccts:Definition>
					<ccts:ObjectClass>Output</ccts:ObjectClass>
				</ccts:Component>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="OutputID" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>identifier</ccts:PropertyTerm>
							<ccts:Definition>This property represents an Identifier for the Output.</ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>Output</ccts:ObjectClass>
							<ccts:DataType>URI</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="OutputName" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>name</ccts:PropertyTerm>
							<ccts:Definition>This property represents the official Name of the Output.</ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>Output</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="OutputDescription" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>description</ccts:PropertyTerm>
							<ccts:Definition>This property represents a free text Description of the Output.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Output</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="OutputType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>type</ccts:PropertyTerm>
							<ccts:Definition>This property represents the type of Output as defined in a controlled vocabulary.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Output</ccts:ObjectClass>
							<ccts:DataType>Code</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RuleType">
		<xs:annotation>
			<xs:documentation>
				<ccts:Component>
					<ccts:Definition>The Rule class represents a document that sets out the specific rules, guidelines or procedures that the Public Service follows. It includes the terms of service, licence, and authentication requirements of the Public Service.</ccts:Definition>
					<ccts:ObjectClass>Rule</ccts:ObjectClass>
				</ccts:Component>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="RuleID" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>identifier</ccts:PropertyTerm>
							<ccts:Definition>This property represents an Identifier for the Rule.</ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>Rule</ccts:ObjectClass>
							<ccts:DataType>URI</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="RuleDescription" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>description</ccts:PropertyTerm>
							<ccts:Definition>This property represents a free text Description of the Rule.</ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>Rule</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="RuleLanguage" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>language</ccts:PropertyTerm>
							<ccts:Definition>This property represents the language(s) in which the Rule is available. This could be one or multiple languages, for instance in countries with more than one official language. The possible values for this property are described in a controlled vocabulary.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Rule</ccts:ObjectClass>
							<ccts:DataType>Code</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="RuleName" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>name</ccts:PropertyTerm>
							<ccts:Definition>This property represents the name of the Rule.</ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>Rule</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="RuleImplements" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>implements</ccts:PropertyTerm>
							<ccts:Definition>The Implements property links a Rule to relevant legislation or policy documents i.e. the Formal Framework under which the Rules are being defined.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Rule</ccts:ObjectClass>
							<ccts:DataType>FormalFramework</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactPointType">
		<xs:annotation>
			<xs:documentation>
				<ccts:Component>
					<ccts:Definition>This class represents the contact information for a Public Service, Channel, Public Organisation etc. It is defined in the Core Public Organisation Vocabulary and is provided as a schema:ContactPoint. Like Channel, a Contact Point may have regular opening hours that are then overridden by, for example, public holidays, using the Opening Hours Specification class.</ccts:Definition>
					<ccts:ObjectClass>ContactPoint</ccts:ObjectClass>
				</ccts:Component>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ContactPointID" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>identifier</ccts:PropertyTerm>
							<ccts:Definition>Identifier of the Contact Point.</ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>ContactPoint</ccts:ObjectClass>
							<ccts:DataType>URI</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ContactPointHasEmail" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>hasEmail</ccts:PropertyTerm>
							<ccts:Definition>Email of the Contact Point.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>ContactPoint</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ContactPointHasTelephone" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>hasTelephone</ccts:PropertyTerm>
							<ccts:Definition>Telephone of the Contact Point.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>ContactPoint</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ContactPointHoursAvailable" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>hoursAvailable</ccts:PropertyTerm>
							<ccts:Definition>Opening hours that the Contact Point is available.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>ContactPoint</ccts:ObjectClass>
							<ccts:DataType>OpeningHoursSpecification</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChannelType">
		<xs:annotation>
			<xs:documentation>
				<ccts:Component>
					<ccts:Definition>The Channel class represents the medium through which an Agent provides, uses or interacts in another way with a Public Service. Typical examples include online services, phone, walk-in centres etc.</ccts:Definition>
					<ccts:ObjectClass>Channel</ccts:ObjectClass>
				</ccts:Component>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ChannelID" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>identifier</ccts:PropertyTerm>
							<ccts:Definition>This property represents an Identifier for the Channel.</ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>Channel</ccts:ObjectClass>
							<ccts:DataType>URI</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ChannelOwnedBy" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>ownedBy</ccts:PropertyTerm>
							<ccts:Definition>This property links the Channel class with one or more instances of the Agent class. This property indicates the owner of a specific Channel through which a Public Service is being delivered. Note that Public Organisation is a sub class of Agent so that if the owner is the Public Organisation, the ownedBy property can link to it.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Channel</ccts:ObjectClass>
							<ccts:DataType>PublicOrganisation</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ChannelType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>type</ccts:PropertyTerm>
							<ccts:Definition>This property represents the type of Channel as defined in a controlled vocabulary.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Channel</ccts:ObjectClass>
							<ccts:DataType>Code</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ChannelHasInput" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>hasInput</ccts:PropertyTerm>
							<ccts:Definition>In the majority of cases, the evidence required to use a Public Service will be independent of the channel through which the service is accessed. The Has Input property should normally be used to link a Public Service directly to one or more pieces of Evidence. However, where the type of Evidence required varies according to the channel used to access the Public Service, then the Has Input property may be used at the Channel level. For example, a digital signature may be required for an online channel, whereas a physical signature may be required for a face to face service provision.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Channel</ccts:ObjectClass>
							<ccts:DataType>Evidence</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ChannelOpeningHours" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>openingHours</ccts:PropertyTerm>
							<ccts:Definition>This property represents the normal opening hours of a channel. The value should follow the flexible format defined for schema.org's opening hours property. Following that structure, days of the week are represented by two letter codes (Mo, Tu, We, Th, Fr, Sa, Su). Lists should be comma separated (for example: Mo, We, Fr) and periods separated by a hyphen (for example: Mo-Fr).</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Channel</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ChannelAvailabilityRestriction" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>availabilityRestriction</ccts:PropertyTerm>
							<ccts:Definition>This property links a channel to information about when the channel is not available, overriding the general opening hours information. The details are provided using the Opening Hours Specification class.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Channel</ccts:ObjectClass>
							<ccts:DataType>OpeningHoursSpecification</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CostType">
		<xs:annotation>
			<xs:documentation>
				<ccts:Component>
					<ccts:Definition>The Cost class represents any costs related to the execution of a Public Service that the Agent consuming it needs to pay</ccts:Definition>
					<ccts:ObjectClass>Cost</ccts:ObjectClass>
				</ccts:Component>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="CostID" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>identifier</ccts:PropertyTerm>
							<ccts:Definition>This property represents an Identifier for the Cost.</ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>Cost</ccts:ObjectClass>
							<ccts:DataType>URI</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="CostValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>value</ccts:PropertyTerm>
							<ccts:Definition>This property represents a numeric value indicating the amount of the Cost.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Cost</ccts:ObjectClass>
							<ccts:DataType>Number</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="CostCurrency" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>currency</ccts:PropertyTerm>
							<ccts:Definition>This property represents the currency in which the Cost needs to be paid and the value of the Cost is expressed. The possible values for this property are described in a controlled vocabulary.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Cost</ccts:ObjectClass>
							<ccts:DataType>Code</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="CostDescription" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>description</ccts:PropertyTerm>
							<ccts:Definition>This property represents a free text description of the Cost.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Cost</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="CostIsDefinedBy" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>isDefinedBy</ccts:PropertyTerm>
							<ccts:Definition>This property links the Cost class with one or more instances of the Public Organisation class. This property indicates which Public Organisation is the Competent Authority for defining the costs associated with the delivery of a particular Public Service.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Cost</ccts:ObjectClass>
							<ccts:DataType>PublicOrganisation</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="CostIfAccessedThrough" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>ifAccessedThrough</ccts:PropertyTerm>
							<ccts:Definition>Where the cost varies depending on the channel used, for example, if accessed through an online service cf. accessed at a physical location, the cost can be linked to the channel using the If Accessed Through property. </ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Cost</ccts:ObjectClass>
							<ccts:DataType>Channel</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OpeningHoursSpecificationType">
		<xs:annotation>
			<xs:documentation>
				<ccts:Component>
					<ccts:Definition>Optional class. The CPSV-AP makes use of schema.org’s openingHours property to provide details of regular operations.</ccts:Definition>
					<ccts:ObjectClass>OpeningHoursSpecification</ccts:ObjectClass>
				</ccts:Component>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="OpeningHoursCloses" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>closes</ccts:PropertyTerm>
							<ccts:Definition>The closing hour of the place or service on the given day(s) of the week.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>OpeningHours</ccts:ObjectClass>
							<ccts:DataType>Time</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="OpeningHoursDayOfWeek" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>dayOfWeek</ccts:PropertyTerm>
							<ccts:Definition>The day of the week for which these opening hours are valid.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>OpeningHours</ccts:ObjectClass>
							<ccts:DataType>DayOfWeek</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="OpeningHoursOpens" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>opens</ccts:PropertyTerm>
							<ccts:Definition>The opening hour of the place or service on the given day(s) of the week.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>OpeningHours</ccts:ObjectClass>
							<ccts:DataType>Time</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="OpeningHoursValidFrom" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>validFrom</ccts:PropertyTerm>
							<ccts:Definition>The date when the item becomes valid.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>OpeningHours</ccts:ObjectClass>
							<ccts:DataType>DateTime</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="OpeningHoursValidThrough" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>validThrough</ccts:PropertyTerm>
							<ccts:Definition>The date after when the item is not valid. For example the end of an offer, salary period, or a period of opening hours.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>OpeningHours</ccts:ObjectClass>
							<ccts:DataType>DateTime</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressType">
		<xs:annotation>
			<xs:documentation>
				<ccts:Component>
					<ccts:Definition>Address.</ccts:Definition>
					<ccts:ObjectClass>Address</ccts:ObjectClass>
				</ccts:Component>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="AddressID" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>identifier</ccts:PropertyTerm>
							<ccts:Definition>The concept of adding a globally unique identifier for each instance of an address is a crucial part of the INSPIRE data spec. </ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>Address</ccts:ObjectClass>
							<ccts:DataType>URI</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AddressFullAddress" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>fullAddress</ccts:PropertyTerm>
							<ccts:Definition>he complete address written as a string, with or without formatting.</ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>Address</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AddressPoBox" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>poBox</ccts:PropertyTerm>
							<ccts:Definition>The Post Office Box number.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Address</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AddressThoroughfare" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>thoroughfare</ccts:PropertyTerm>
							<ccts:Definition>An address component that represents the name of a passage or way through from one location to another. A thoroughfare is not necessarily a road, it might be a waterway or some other feature.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Address</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AddressLocatorDesignator" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>locatorDesignator</ccts:PropertyTerm>
							<ccts:Definition>A number or a sequence of characters that uniquely identifies the locator within the relevant scope(s). The full identification of the locator could include one or more locator designators.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Address</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AddressLocatorName" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>locatorName</ccts:PropertyTerm>
							<ccts:Definition>Proper noun(s) applied to the real world entity identified by the locator. The locator name could be the name of the property or complex, of the building or part of the building, or it could be the name of a room inside a building.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Address</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AddressArea" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>area</ccts:PropertyTerm>
							<ccts:Definition>The name or names of a geographic area or locality that groups a number of addressable objects for addressing purposes, without being an administrative unit. This would typically be part of a city, a neighbourhood or village.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Address</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AddressPostName" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>postName</ccts:PropertyTerm>
							<ccts:Definition>The key postal division of the address, usually the city. (INSPIRE's definition is "One or more names created and maintained for postal purposes to identify a subdivision of addresses and postal delivery points.").</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Address</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AddressAdminUnitL1" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>adminUnitL1</ccts:PropertyTerm>
							<ccts:Definition>The uppermost administrative unit for the address, almost always a country.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Address</ccts:ObjectClass>
							<ccts:DataType>Code</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AddressAdminUnitL2" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>adminUnitL2</ccts:PropertyTerm>
							<ccts:Definition>The region of the address, usually a county, state or other such area that typically encompasses several localities.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Address</ccts:ObjectClass>
							<ccts:DataType>Code</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AddressPostCode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>postCode</ccts:PropertyTerm>
							<ccts:Definition>The post code (a.k.a postal code, zip code etc.). Post codes are common elements in many countries' postal address systems.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Address</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
<!-- ===== Copyright Notice ===== -->
<!--
  Copyright (c) European Union, 2014
  Licensed under the ISA Open Metadata Licence

  ISA Open Metadata Licence v1.1

  1. Copyright

  The Work (as defined below) is provided under the terms of this ISA 
  Open Metadata Licence (this Licence, or later versions of this Licence 
  published by the European Commission). The work is protected by 
  copyright and/or other applicable law. Any use of the work other than 
  as authorised under this Licence or copyright law is prohibited.

  By exercising any rights to the work provided here, you accept and
  agree to be bound by the terms of this Licence. The Owner (as defined
  below) grants You the rights contained here in consideration of your
  acceptance of such terms and conditions.

  2. Definitions

  The “Owner” is the European Union represented by the European 
  Commission, which is the original licensor and/or controls the 
  copyright and any other intellectual and industrial property rights 
  related to the Work.

  The “Work” is the information and/or data offered to You under this 
  Licence, according to the “Copyright Notice”:

      Copyright (c) European Union, YEAR
      Licensed under the ISA Open Metadata Licence,
      Original author: CONTRIBUTOR(s)

  "You" means the natural or legal person, or body of persons corporate 
  or incorporate, acquiring rights under this licence.

  "Contributor" means the natural or legal person whose Work is, by 
  agreement with the European Commission, provided under this Licence.

  "Use" means doing any act which is restricted by copyright or database 
  right, whether in the original medium or in any other medium, and 
  includes without limitation distributing, copying, adapting, modifying 
  as may be technically necessary to use it in a different mode or 
  format. It includes "re-Use", meaning the use, communication to the 
  public and/or distribution of the Works for purposes other than the 
  initial purpose for which the Work was produced.

  3. Rights

  In accordance to Commission Decision 2011/833/EU, You are herewith 
  granted a worldwide, royalty-free, perpetual, non-exclusive licence to 
  Use and re-Use the Works and any modifications thereof for any 
  commercial and non-commercial purpose allowed by the law and provided 
  that the following conditions are met:
    a) Distributions or communication to the public must retain the 
       above Copyright Notice;
    b) Distributions must retain the following “No Warranty” disclaimer;
    c) Where possible and practical, distributions or communication to 
       the public will provide a link to the Joinup platform;
    d) Acts directed to mislead others or misrepresent the Work, its 
       content or source are prohibited;
    e) You will not use the name of the European Commission and that of 
       its Contributor(s) to endorse or promote products and services 
       derived from the Use of the Work without specific prior written 
       permission.

  4. No Warranty

  EACH WORK IS PROVIDED "AS IS" WITHOUT REPRESENTATIONS, WARRANTIES, 
  OBLIGATIONS AND LIABILITIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, TO 
  THE FULL EXTENT PERMITTED BY LAW INCLUDING, BUT NOT LIMITED TO, ANY 
  IMPLIED WARRANTY OF MERCHANTABILITY, INTEGRATION, SATISFACTORY QUALITY 
  AND FITNESS FOR A PARTICULAR PURPOSE.

  EXCEPT IN THE CASES OF WILFUL MISCONDUCT OR DAMAGES DIRECTLY CAUSED TO 
  NATURAL PERSONS, NEITHER EUROPEAN UNION NOR ITS CONTRIBUTOR(S) WILL BE 
  LIABLE FOR ANY INCIDENTAL, CONSEQUENTIAL, DIRECT OR INDIRECT DAMAGES 
  INCLUDING BUT NOT LIMITED TO THE LOSS OF DATA, LOST PROFITS, OR ANY 
  OTHER FINANCIAL LOSS ARISING FROM THE USE OF, OR INABILITY TO USE, 
  EVEN IF THE EUROPEAN UNION HAS BEEN NOTIFIED OF THE POSSIBILITY OF 
  SUCH LOSS, DAMAGES, CLAIMS OR COSTS OR FOR ANY CLAIM BY ANY THIRD 
  PARTY. HOWEVER, THE LICENSOR WILL BE LIABLE UNDER STATUTORY PRODUCT 
  LIABILITY LAWS AS FAR SUCH LAWS APPLY TO THE WORK.

  5. Governing Law

  This licence is governed by the laws of the jurisdiction in which the 
  first Contributor listed in the Copyright Notice has its principal 
  place of business, unless otherwise specified by this Contributor.
-->
