toop-edm/src/main/resources/schemas/PublicOrganization-v1.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	xmlns="http://www.w3.org/ns/corevocabulary/po" 
	xmlns:business="http://www.w3.org/ns/corevocabulary/business" 
	xmlns:cva="http://www.w3.org/ns/corevocabulary/AggregateComponents" 
	xmlns:cvb="http://www.w3.org/ns/corevocabulary/BasicComponents" 
	xmlns:pob="http://www.w3.org/ns/corevocabulary/POBasicComponents" 
	xmlns:cps="http://data.europa.eu/m8g/CPSVAP2.0"
	xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" 
	xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:udt="urn:un:unece:uncefact:data:specification:UnqualifiedDataTypesSchemaModule:2"
	xmlns:ccts="urn:un:unece:uncefact:documentation:2"
	
	targetNamespace="http://www.w3.org/ns/corevocabulary/po" 
	
	elementFormDefault="qualified" attributeFormDefault="unqualified" version="1">
	
	<xsd:import namespace="http://www.w3.org/ns/corevocabulary/AggregateComponents" schemaLocation="CoreVocabularyAggregateComponents-v1.00.xsd"/>
	<xsd:import namespace="http://www.w3.org/ns/corevocabulary/BasicComponents" schemaLocation="CoreVocabularyBasicComponents-v1.00.xsd"/>
	<xsd:import namespace="http://data.europa.eu/m8g/CPSVAP2.0" schemaLocation="cpsv-ap_xml_schema_v0.01.xsd"/>
	<xsd:import namespace="http://www.w3.org/ns/corevocabulary/POBasicComponents" schemaLocation="CorePOVocabularyBasicComponents-v1.00.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" />
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2" />
	<xsd:import namespace="urn:un:unece:uncefact:data:specification:UnqualifiedDataTypesSchemaModule:2" />

	<xsd:element name="Organization" type="OrganizationType"/>
	<xsd:element name="PublicOrganization" type="PublicOrganizationType"/>
	<xsd:element name="FoundationEvent" type="FoundationEventType"/>
	
	<xsd:element name="Agent" type="AgentType"/>
	<xsd:element name="AddressID" type="xsd:anyURI"/>
	<xsd:element name="AgentID" type="cva:CvidentifierType"/>
	<xsd:element name="AgentHasAddress" type="AddressType"/>
	<xsd:element name="ContactPointType" type="udt:TextType"/>
	
	<xsd:complexType name="PublicOrganizationType">
		<xsd:complexContent>
			<xsd:extension base="OrganizationType">
				<xsd:sequence>
					<xsd:element name="PreferredLabel" type="pob:PreferredLabelType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="AlternateLabel" type="pob:AlternateLabelType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="Identifier" type="pob:IdentifierType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="Description" type="pob:DescriptionType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="Spatial" type="AdministrativeTerritorialUnitsType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="Purpose" type="ConceptType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="Classification" type="ConceptType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="Logo" type="ImageObjectType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="Homepage" type="DocumentType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="IsSubOrganizationOf" type="PublicOrganizationType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="HasSubOrganization" type="PublicOrganizationType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="HasContactPoint" type="ContactPointType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="HasUnit" type="OrganizationalUnitType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="HasMember" type="PublicOrganizationType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="MemberOf" type="PublicOrganizationType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="Address" type="AddressType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="Prev" type="PublicOrganizationType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="Next" type="PublicOrganizationType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="ResultedFrom" type="ChangeEventType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="ChangedBy" type="ChangeEventType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="OrganizationType">
		<xsd:sequence/>
	</xsd:complexType>

	<xsd:complexType name="OrganizationalUnitType">
		<xsd:complexContent>
			<xsd:extension base="OrganizationType">
				<xsd:sequence>
					<xsd:element name="UnitOf" type="PublicOrganizationType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="AdministrativeTerritorialUnitsType">
		<xsd:sequence>
			<xsd:element name="Geometry" type="cva:GeometryType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ImageObjectType">
		<xsd:sequence/>
	</xsd:complexType>

	<xsd:complexType name="DocumentType">
		<xsd:sequence/>
	</xsd:complexType>

	<xsd:complexType name="ConceptType">
		<xsd:sequence/>
	</xsd:complexType>

	<xsd:complexType name="FoundationEventType">
		<xsd:complexContent>
			<xsd:extension base="ChangeEventType">
				<xsd:sequence/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ChangeEventType">
		<xsd:sequence>
			<xsd:element name="HasFormalFramework" type="FormalFrameworkType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OriginalOrganisation" type="PublicOrganizationType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ResultingOrganisation" type="PublicOrganizationType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="FormalFrameworkType">
		<xsd:complexContent>
			<xsd:extension base="cps:FormalFrameworkType">
				<xsd:sequence>
					<xsd:element name="Implements" type="ChangeEventType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ContactPointType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:Definition>This class represents the contact information for a Public Service, Channel, Public Organisation etc. It is defined in the Core Public Organisation Vocabulary and is provided as a schema:ContactPoint. Like Channel, a Contact Point may have regular opening hours that are then overridden by, for example, public holidays, using the Opening Hours Specification class.</ccts:Definition>
					<ccts:ObjectClass>ContactPoint</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ContactPointType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>identifier</ccts:PropertyTerm>
							<ccts:Definition>Identifier of the Contact Point.</ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>ContactPoint</ccts:ObjectClass>
							<ccts:DataType>URI</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cps:ContactPointHasEmail" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>hasEmail</ccts:PropertyTerm>
							<ccts:Definition>Email of the Contact Point.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>ContactPoint</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cps:ContactPointHasTelephone" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>hasTelephone</ccts:PropertyTerm>
							<ccts:Definition>Telephone of the Contact Point.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>ContactPoint</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cps:ContactPointHoursAvailable" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>hoursAvailable</ccts:PropertyTerm>
							<ccts:Definition>Opening hours that the Contact Point is available.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>ContactPoint</ccts:ObjectClass>
							<ccts:DataType>OpeningHoursSpecification</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="AgentType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:Definition>The Agent class is any resource that acts or has the power to act. This includes people, organisations and groups. The Public Organisation class, defined in the Core Public Organisation Vocabulary, is a notable sub class of Agent</ccts:Definition>
					<ccts:ObjectClass>Agent</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="AgentID" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>identifier</ccts:PropertyTerm>
							<ccts:Definition>This property represents an Identifier for the Agent.</ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>Agent</ccts:ObjectClass>
							<ccts:DataType>URI</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cps:AgentName" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>name</ccts:PropertyTerm>
							<ccts:Definition>This property represents the Name of the Agent.</ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>Agent</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cps:AgentType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>type</ccts:PropertyTerm>
							<ccts:Definition>This property represents the Type of an Agent as described in a controlled vocabulary. In the context of CPSV-AP an Agent can be a Public Organisation or a Person.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Agent</ccts:ObjectClass>
							<ccts:DataType>Code</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cps:AgentPlaysRole" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>playsRole</ccts:PropertyTerm>
							<ccts:Definition>This property links an Agent to the Participation class. The Participation class facilitates the detailed description of how an Agent participates in or interacts with a Public Service and may include temporal and spatial constraints on that participation.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Agent</ccts:ObjectClass>
							<ccts:DataType>Participation</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="AgentHasAddress" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>hasAddress</ccts:PropertyTerm>
							<ccts:Definition>This property represents an Address related to an Agent. Asserting the address relationship implies that the Agent has an Address.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Agent</ccts:ObjectClass>
							<ccts:DataType>Address</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="AddressType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
4					<ccts:Definition>Address.</ccts:Definition>
					<ccts:ObjectClass>Address</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="AddressID" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>identifier</ccts:PropertyTerm>
							<ccts:Definition>The concept of adding a globally unique identifier for each instance of an address is a crucial part of the INSPIRE data spec. </ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>Address</ccts:ObjectClass>
							<ccts:DataType>URI</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cps:AddressFullAddress" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>fullAddress</ccts:PropertyTerm>
							<ccts:Definition>he complete address written as a string, with or without formatting.</ccts:Definition>
							<ccts:Cardinality>1..1</ccts:Cardinality>
							<ccts:ObjectClass>Address</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cps:AddressPoBox" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>poBox</ccts:PropertyTerm>
							<ccts:Definition>The Post Office Box number.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Address</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cps:AddressThoroughfare" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>thoroughfare</ccts:PropertyTerm>
							<ccts:Definition>An address component that represents the name of a passage or way through from one location to another. A thoroughfare is not necessarily a road, it might be a waterway or some other feature.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Address</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cps:AddressLocatorDesignator" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>locatorDesignator</ccts:PropertyTerm>
							<ccts:Definition>A number or a sequence of characters that uniquely identifies the locator within the relevant scope(s). The full identification of the locator could include one or more locator designators.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Address</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cps:AddressLocatorName" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>locatorName</ccts:PropertyTerm>
							<ccts:Definition>Proper noun(s) applied to the real world entity identified by the locator. The locator name could be the name of the property or complex, of the building or part of the building, or it could be the name of a room inside a building.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Address</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cps:AddressArea" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>area</ccts:PropertyTerm>
							<ccts:Definition>The name or names of a geographic area or locality that groups a number of addressable objects for addressing purposes, without being an administrative unit. This would typically be part of a city, a neighbourhood or village.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Address</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cps:AddressPostName" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>postName</ccts:PropertyTerm>
							<ccts:Definition>The key postal division of the address, usually the city. (INSPIRE's definition is "One or more names created and maintained for postal purposes to identify a subdivision of addresses and postal delivery points.").</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Address</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cps:AddressAdminUnitL1" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>adminUnitL1</ccts:PropertyTerm>
							<ccts:Definition>The uppermost administrative unit for the address, almost always a country.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Address</ccts:ObjectClass>
							<ccts:DataType>Code</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cps:AddressAdminUnitL2" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>adminUnitL2</ccts:PropertyTerm>
							<ccts:Definition>The region of the address, usually a county, state or other such area that typically encompasses several localities.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Address</ccts:ObjectClass>
							<ccts:DataType>Code</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cps:AddressPostCode" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:PropertyTerm>postCode</ccts:PropertyTerm>
							<ccts:Definition>The post code (a.k.a postal code, zip code etc.). Post codes are common elements in many countries' postal address systems.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Address</ccts:ObjectClass>
							<ccts:DataType>Text</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>	
	
	
	
</xsd:schema>
